@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Common styles section */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-between{
    justify-content: space-between;
    align-items: center;
}

.text-white{
    color: #FFFF;
}

.bg-light{
    background: #230E3D;
}

.bg-dark{
    background: #1A0B2E;
}

/* styles for button */
.btn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    border: none;
    cursor: pointer;
}

.btn-primary{
    color: #FFFF;
    background: linear-gradient(230deg,#d307a7, #be179a,#e4c30a);
}

.btn-outline{
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
}

.btn img{
    width: 16px;
}

/* navbar related styles */
.site-header{
    border-bottom: 1px solid #412567;
}

.navbar{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 36px;
}

.nav-logo{
    height: 32px;
    width: 219px;
}

.nav-links{
    list-style: none;
    gap: 32px;
}

.nav-link{
    text-decoration: none;
    color: #FFFF;
    font-size: 1rem;
    font-weight: 500;
}






/* for responsive */