@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Common styles section */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-between{
    justify-content: space-between;
    align-items: center;
}

.text-white{
    color: #FFFF;
}

.bg-light{
    background: #230E3D;
}

.bg-dark{
    background: #1A0B2E;
}

/* styles for button */
.btn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    border: none;
    cursor: pointer;
}

.btn-primary{
    color: #FFFF;
    background: linear-gradient(230deg,#d307a7, #be179a,#e4c30a);
}

.btn-outline{
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
}

.btn img{
    width: 16px;
}

/* navbar related styles */
.site-header{
    border-bottom: 1px solid #412567;
}

.navbar{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 36px;
}

.nav-logo{
    height: 32px;
    width: 219px;
}

.nav-links{
    list-style: none;
    gap: 32px;
}

.nav-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

/* hero section related styles */

.hero{
    position: relative;
    height: 760px;
    background: #1A0B2E;
    overflow: hidden;
}
.hero-bg-wrap{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-bg-wrap img{
    height: 100%;
    width: 100%;         
}
.hero-content{
    position: relative;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-icon{
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
}
.hero-badge-icon{
    position: absolute;
    top: 12px;
    right: 12px;

    background: #00FF88;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;
}
.hero-circle{
    width: 100%;
    height: 100%;
}
.hero-mic{
    position: absolute;
    width: 110px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-title{
    font-size: 3.75rem;
    margin-bottom: 8px;
}
.hero-subtitle{
    font-size: 1rem;
    margin-bottom: 24px;
}
.hero-buttons{
    display: flex;
    gap: 16px;
}

/* about related styles */

.about-section{
    padding: 100px 20px;
    text-align: center;
}
.about-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.about-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-text{
    font-size: 1rem;
    line-height: 1.7;
    max-width: 900px;
    margin: 0 auto 50px;
}
.about-divider{
    width: 100%;
    height: 1px;
    background: #FFFF;
    margin: 50px 0;
}
/* about-stats */
.about-info{
    justify-content: space-between;
    gap: 20px;
}
.info-item h3{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}
.info-item p{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFF;
}

/* why choose related styles */

.why-section{
    padding: 120px 200px;
}
.why-title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}
/* grid styles */
.premium{
    grid-area: premium;
}
.mobile{
    grid-area: mobile;
}
.global{
    grid-area: global;
}
.exclusive{
    grid-area: exclusive;
}
.resources{
   grid-area: resources; 
}
.why-container{
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    gap: 30px;
    
    grid-template-areas:
        "premium  mobile mobile"
        "premium  global global"
        "exclusive exclusive resources";
}

/* card style */
.why-card{
    background: rgba(53, 17, 101, 0.4);
    padding: 28px;
    border-radius: 20px;
    color: #FFFF;
}
.why-card img{
    width: 60px;
    margin-bottom: 16px;
}
.why-card h3{
    font-size: 1.5rem;
    margin-bottom: 16px;
    font-weight: 600;
}
.why-card p{
    font-size: 1rem;
    font-weight: 400;
}

/* featured episode */

.featured-section{
    padding: 120px 200px;
    text-align: center;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;  
}
.featured-container{
    max-width: 1200px;
    margin: 60px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.episode-card{
    background: #250D44;
    border-radius: 20px;
    padding: 24px 24px 145px 24px;
    height: 440px;
    width: 380px;
    text-align: left;
}
.video-wrapper{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 24px;
}
.video-wrapper iframe{
    width: 100%;
    height: 100%;
}
.episode-card h3{
    font-size: 1.5rem;
    margin-bottom: 12px;
}
.episode-card p{
    font-size: 1rem;
    margin-bottom: 10px;
}
.episode-time{
    font-size: 1rem;
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 6px;
}
.episode-time img{
    width: 20px;
}



/* for responsive */
@media screen and (max-width:576) {
  .navbar,
  .nav-links{
    flex-direction: column;
  }
  .why-container{
    grid-template-areas:
        "premium"
         "mobile"
         "global"
         "exclusive"
         "resources"
  }
  .why-container{
    justify-items: center;
    gap: 24px;
    margin-right: 20px;
  }



}